# Entornos virtuales
venv/
env/
ENV/
.venv/

# Secretos y variables de entorno
.env
.env.local
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VSCode / IDE
.vscode/
.idea/
.DS_Store

# Logs de Streamlit y otros
*.log

# Carpetas de Agentes de IA
.agents/
.agent/
.AGENT/
.gemini/
